<h2 class="d-flex justify-content-center">Dashboard for {{userPosts.username}}</h2>
<br>
<div>
     {{#if userPosts.posts.length}}
          {{#each userPosts.posts as |post|}}
               <div class="container border border-dark">
                    <div class="row bg-dark text-white">

                         <div class="col-10">
                              <h3>{{format_date post.post_date}}: {{post.post_title}}</h3>
                         </div>

                         <div class="col-1 d-flex align-items-center justify-content-end">
                              <a href="/dashboard/update/{{post.id}}">
                                   <i class=" fas fa-edit" style="font-size: 30px; color: #7CFC00;"></i>
                              </a>
                         </div>

                         <div class="col-1 d-flex align-items-center justify-content-center">
                              <a href="/dashboard/delete/{{post.id}}">
                                   <i class=" fas fa-trash-alt" style="font-size: 30px; color: red;"></i>
                              </a>
                         </div>

                    </div>

                    <div class="row p-3">
                         {{post.post_body}}
                    </div>
               </div>
               <br>
          {{/each}}
     {{else}}
          <h4 class="d-flex justify-content-center">Welcome! Enter your very first post ...</h4><br><br>
     {{/if}}
</div>

<div class="text-center">
     <form action="/dashboard/add">
          <button type="submit" class="btn btn-dark add-new">Create New Post</button>
     </form>
</div>
<br>